<script type="text/javascript">
    var users2 = <%= @users_json %>;
    var users = [];
    for(var k in users2) users.push(k);

    var championships2 = <%= @championships_json %>;
    var championships = [];
    for(var k in championships2) championships.push(k);
    //console.log(users);
</script>
<form class="form">
    <% if @league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>

      <ul>
      <% @league.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <label for="name">League Name</label>
    <input class="name form-control"type="text" name="league[name]">
  </div>
  <div class="field">
      <label for="score_correct">Points for correct prediction</label> <i title="The points users will gain when they make a correct prediction on a matches result" class="glyphicon glyphicon-question-sign score_correct_helper"></i><br>
      <input class="score_correct form-control" size="3" min="0" max="999" type="number" name="league[score_correct]">
  </div>
  <div class="field">
      <label for="score_difference">Score Difference</label> <i title="The points users will gain when they make a correct prediction on a matches goal difference" class="glyphicon glyphicon-question-sign score_correct_helper"></i><br>
      <input class="score_difference form-control" size="3" min="0" max="999" type="number" name="league[score_difference]">
  </div>
  <div class="field">
    <label for="score_prediction">Score Prediction</label> <i title="The points users will gain when they make a correct prediction on a matches result" class="glyphicon glyphicon-question-sign score_correct_helper"></i><br>
    <input class="score_prediction form-control" size="3" min="0" max="999" type="number" name="league[score_prediction]">
  </div>
    <div id="friends-container" class="field friends">
        <div>
            <label for="friends">Friends</label>
        </div>
        <input id="friends" class="form-control" type="text"/>
        <span id="friends_added"></span><br>
        <button type="button" class="add_friend btn">Add</button>
    </div>
    <div id="championship-container" class="field championships">
        <div>
            <label for="championship">Championships</label>
        </div>
        <input id="championship" class="form-control" type="text"/>
        <span id="championships_added"></span><br>
        <button type="button" class="add_championship btn">Add</button>
    </div>
  <div class="actions">
     <input class='button-sub' type="submit" value="Submit">
  </div>
</form>