<% content_for :leagues_c do %>
    <div class="col-lg-8">
      <table class="table table-responsive">
        <thead class="text-center">
        <tr>
          <th rowspan="2" class="text-center vert-align">User</th>
          <th colspan="<%= @match_days.size %>" class="text-center">Match day</th>
          <th rowspan="2" class="text-center vert-align">Total</th>
        </tr>
        <tr>
          <% @match_days.each do |matchday| %>
              <th class="text-center"><%= matchday %></th>
          <% end %>
        </tr>

        </thead>
        <tbody class="">
        <% @users_order.each do |user_id| user = @users.find(user_id) %>
            <tr>
              <td><%= user.email %></td>
              <% @score[user.id].each do |score| %>
                  <td class="text-center"><%= score %> </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <script>
        $("#board").addClass("active");
    </script>
<% end %>