<div class="col-lg-8">
    <div id="errors">

    </div>
    <div class="field name-edit" id="<%= @league.id %>">
        Change name (Leave blank if same):
        <input class="name form-control" id="league_name" name="league[name]" required="required" type="text" />
    </div>


    <div id="friends-container" class="field">
        <div>
            <label for="friends">Edit players</label>
        </div>
        <input id="friends" class="form-control" onkeypress="return returnHandlerFriend(event)" type="email"/>
    <span id="friends_added">
    <% @users.each do |user| %>
        <span class="friend-obj btn btn-primary"><%= user.email %><i onclick="removeUser(this)" class="remove-user glyphicon glyphicon-remove"></i></span>
    <% end %>
    </span>
        <span id="friends_added"></span><br>
        <button type="button" style="margin-bottom: 10px" onclick="addFriend(this)" class="add_friend btn">Add</button>
    </div>

    <button type="button" onclick="submitEdit(this)"  class="btn btn-primary">Submit changes</button>

    <button type="button" onclick="deleteLeague(this)" class="btn btn-danger">Delete this league</button>
</div>


<script>
    var friends_added = [];
    <% @league.users.each do |user| %>
        friends_added.push("<%= user.email  %>");
    <%end %>
</script>

