<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'name form-control', :required => true %>
</div>

<div id="friends-container" class="field">
    <%= f.hidden_field :users %>
    <div>
        <label for="friends">Friends</label>
    </div>
    <input id="friends" class="form-control" onkeypress="return returnHandlerFriend(event)" type="email"/>
    <span id="friends_added"></span><br>
    <button type="button" onclick="addFriend(this)" class="add_friend btn">Add</button>
</div>

<button type="button" onclick="addFriend(this)" class="add_friend btn">Delete</button>

