<br/>
<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#leaguesbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">League 1</div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="leaguesbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Leagues <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">League 1</a></li>
              <li><a href="#">League 2</a></li>
              <li><a href="#">League 3</a></li>
            </ul>
          </li>
          <li><a href="#">New League</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
<div class="container">
  <div class="col-md-4">
      <ul class="nav nav-pills nav-stacked ">
        <li><%= link_to raw(("<span class='fui-list'></span>")+" Leader Board"), new_user_session_path%></li>
        <li><%= link_to raw(("<span class='fui-radio-checked'></span>")+" Games"), new_user_session_path%></li>
        <li><%= link_to raw(("<span class='fui-time'></span>")+" Bet History"), new_user_session_path%></li>
        <li><%= link_to raw(("<span class='fui-gear'></span>")+" Admin"), new_user_session_path%></li>
      </ul>
  </div>
  <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
    </div>
  </div>
</div>

<br/>

<!--
<div class="container">
  <div class="col-xs-4">
  <div class="todo">
    <ul class="todo" style="border-radius: 6px 6px 0 0">
      <li  class="todo" style="border-radius: 6px 6px 0 0">
        <div class="todo-icon fui-list"></div>
        <div class="todo-content">
          <h4 class="todo-name">
            Chat with <strong>V.Kudinov</strong>
          </h4>
          Skype conference an 9 am
        </div>
      </li>
      <li>
        <div class="todo-icon fui-eye"></div>
        <div class="todo-content">
          <h4 class="todo-name">
            Watch <strong>Iron Man</strong>
          </h4>
          1998 Broadway
        </div>
      </li>
      <li class="todo">
        <div class="todo-icon fui-time"></div>
        <div class="todo-content">
          <h4 class="todo-name">
            Fix bug on a <strong>Website</strong>
          </h4>
          As soon as possible
        </div>
      </li>
    </ul>
  </div>&lt;!&ndash; /.todo &ndash;&gt;
</div>&lt;!&ndash; /.col-xs-4 &ndash;&gt;
</div>-->
