<div class="page-wrapper">
  <header class="header-11">
    <div class="container">
      <div class="row">
        <div class="navbar col-sm-12" role="navigation">
          <% if not user_signed_in? %>
              <%= render 'devise/sessions/new' %>
          <% end %>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"></button>
            <a class="brand" href="#"><img src="img/logo@2x.png" width="50" height="50" alt=""> Be&f</a>
          </div>
          <div class="collapse navbar-collapse pull-right">
            <ul class="nav pull-left">
              <li class="active"><a href="#">HOME</a></li>
              <li><% if user_signed_in? %><%= link_to "Sign out", destroy_user_session_path, :method => :delete %><% end %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="header-11-sub bg-midnight-blue">
    <div class="background">
      &nbsp;
    </div>
  </section>

  <!-- footer-2 -->
  <footer class="footer-2 bg-midnight-blue">
    <div class="container">
      <nav class="pull-left">
        <ul>
          <li class="active">
            <a href="#">Home</a>
          </li>
        </ul>
      </nav>
      <div class="social-btns pull-right">
        <a href="#"><div class="fui-vimeo"></div><div class="fui-vimeo"></div></a>
        <a href="#"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
        <a href="#"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
      </div>
      <div class="additional-links">
        Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
      </div>
    </div>
  </footer>
</div>
 