<section class="header-11-sub bg-midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-3">
        <% if not user_signed_in? %>
            <%= render 'devise/sessions/new' %>
        <% end %>
      </div>
      <div class="col-sm-offset-1 col-sm-7 hidden-xs">
        <div class="flex-video widescreen" style="margin: 0;text-align:left;">
          <iframe width="560" height="400" src="//www.youtube.com/embed/_l0x3bwn07g" frameborder="0" allowfullscreen></iframe></div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="header-11-sub bg-midnight-blue">
   <div class="background">
     &nbsp;
   </div>
 </section>-->
</div>
