<!--<section class="header-11-sub" style="background-color: #1ABC9C"> &lt;!&ndash;bg-midnight-turquoise&ndash;&gt;-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-offset-1 col-sm-3">-->
        <!--<% if not user_signed_in? %>-->
            <!--<%= render 'devise/sessions/new' %>-->
        <!--<% end %>-->
      <!--</div>-->
      <!--<div class="col-sm-offset-1 col-sm-7 hidden-xs">-->
        <!--<div class="flex-video widescreen" style="margin: 0;text-align:left;">-->
          <!--<iframe width="560" height="400" src="//www.youtube.com/embed/_l0x3bwn07g" frameborder="0" allowfullscreen></iframe></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!--&lt;!&ndash; <section class="header-11-sub bg-midnight-blue">-->
   <!--<div class="background">-->
     <!--&nbsp;-->
   <!--</div>-->
 <!--</section>&ndash;&gt;-->
<!--<footer> &lt;!&ndash;class="footer-2">>&ndash;&gt;-->
  <!--<div class="container">-->
    <!--<div class="social-btns pull-right">-->
      <!--<a href="#"><span class="fui-vimeo"></span></a>-->
      <!--<a href="#"><span class="fui-facebook"></span></a>-->
      <!--<a href="#"><span class="fui-twitter"></span></a>-->
    <!--</div>-->
    <!--<div class="additional-links">-->
      <!--Be sure to take a look to our <a href="https://www.icloud.com/keynote/AwBWCAESEMQ9S-7dl5ZJEAxSDpkXXtwaKltPVYTlJgczoZi6EtNf52wtZ6xS-qkY8-S8XuqxbNPpmk9XAgFkdDqLJQMCUCAQEEIKZ4BAl1MrwmhTKm8MQo8mN0UaROpAxmK0K2zeUdrjw2#beef.key">Terms of Use</a> and <a href="#">Privacy Policy</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</footer>-->
<!--<style>-->
    /*body, footer {*/
        /*background-color: #1ABC9C*/
    /*}*/
<!--</style>-->

