// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.btn {
    padding: 0px 0px;
}

.nav-pills > li > a
{
  color: #1abc9c;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
{
  color: #1abc9c;
  background-color: #34495e;
}

.table tbody>tr>td.vert-align, .table thead>tr>th.vert-align{
  vertical-align: middle;
}*/