// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-static-top {
  margin-bottom: 20px;
}

body, footer {
    background-color: #1ABC9C;
}

section {
  padding-top: 40px;
}

footer {
  padding-top: 80px;
}

.save_button {
  min-width: 80px;
  max-width: 80px;
}