<% content_for :content do %>

    <% if (@league) %>

        <h2><%=@league.name%></h2>
        <div class="row"></div>

        <%= content_for?(:leagues_c) ? yield(:leagues_c) : yield %>
        <br>
        <script>
            $("#league<%=@league.id.to_s%> > a").addClass("active");
        </script>
    <% end %>
<% end %>
<%= render template: "layouts/application" %>